.container {
	border: 1px solid black;
	width: 800px;
	margin: auto;
	margin-top: 50px;
	background-color: #c6d4e1;
	border-top: 10px solid #79bd9a;
	border-left: 10px solid #79bd9a;
	border-right: 10px solid #79bd9a;
	border-bottom: 10px solid #79bd9a;
}

.header {
	width: 800px;
	color: white;
	text-align: center;
	height: 70px;
	margin-top: -23px;
	background-color: #44749d;
	line-height: 70px;
}

h3 {
	padding-top: 10px;
	padding-left: 20px;
	color: white;
	text-align: center;
}

p {
	padding: 8px;
	text-indent: 20px;
	text-align: justify;
}

#p1 {
	padding-top: 0px;
}

.image {
	margin: auto;
	width: 200px;
	height: 150px;
}

img {
	width: 200px;
	height: 150px;
	padding-top: 20px;
}

.footer {
	height: 45px;
	color: white;
	background-color: #44749d;
}

#pfooter {
	font-weight: bold;
	color: white;
	text-align: center;
}