body {
	font-family: georgia;
	font-size: 16px;
	background-color: #999;
}

p {
	margin: 0px 0px 10px 10px;
}

#page-wrap {
	background-color: white;
	width: 720px;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#content {
width: 480px;
margin-right: 20px;
padding-right: 20px;
border-right: 1px solid black;
min-height: 300px;
border-color: #333;
float: left;

}

#sidebar {
	width: 180px;
	float: right;
	min-height: 520px;
}

.footer {
	text-align: center;
	background-color: #333;
	font-family: verdana;
	font-size: 11px;
	color: white;
	width: 740px;
	height: 40px;
	margin: 0px auto;
	padding-top: 20px;
}

.clear {
	clear: both;
}
